.navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.navigationList {
  display: flex;
  padding: 0;
  margin: 0;
}
.iconLogo {
  fill: currentcolor;
}
.navigationItem:first-child {
  font-size: 24px;
}
.navigationItem:last-child {
  margin-left: 20px;
  font-size: 24px;
}

.navLink {
  display: inline-flex;
  padding: 20px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: transparent;
  font-weight: 500;
  border-radius: 7px;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.active {
  background-color: black;
  color: white;
}
.containerLogo {
  display: flex;
  align-items: center;
}
